.container{
}
.image{
    width: 100px;
}
/* ===match section=====*/
.match-section{
    display: flex;
}
.match-section .f-toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 170px;
    background-color: rgb(8, 5, 5);
    padding: 17px;
    border-radius: 10px;
    width: 40%;
}
.match-section .f-toggle button{
    background-color: #fff;
    padding: 15px 10px;
    border: none;
    margin: 17px;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    font-size: 12px;
}
.match-section .fixtures{
    width: 60%;
}
.fixtures{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.fixtures .match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 200px;
}
.fixtures .match .flags{
    display: flex;
}