body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/* utility classes */
.half-width{
    width: 50%;
}
.full-width{
    width: 100%;
}
.blog-btn{
    padding: 5px 10px;
    font-weight: bolder;
}
.blog-image-width{
    width: 100%;
}
#active{
    background-color: #3CCF4E;
    color: whitesmoke;
}
.m-l-10{
    margin-left: 10px;
}
.m-3{
    margin-left: 3px;
}
.link-btn{
    text-decoration: none;
}
.link-btn strong{
    font-weight: bolder;
}
/* utility classes */
/* banner */
.banner{
    display: flex;
    background-color: rgb(8, 5, 5);
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.banner .banner-text{
    padding: 15px 15px;
}
.banner .banner-text h1{
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}
.banner .banner-text p{
    font-size: 0.8rem;
    color: #faf9f6;
}
.banner .btn{
    border: none;
    background-color: #3CCF4E;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
}
.banner .btn i{
    margin-left: 7px;
    margin-top: 5px;
    font-size: smaller;
}

/*=========== blogs =================*/
.blogs-section{
    display: flex;
    margin-bottom: 40px;
}

/* ===========side-bar========== */
.blogs-section aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(8, 5, 5);
    height: 200px;
    padding: 17px;
    border-radius: 10px;
    width: 25%;
}
.blogs-section aside button a{
    text-decoration: none;
    color: rgb(8, 5, 5);
}
.blogs-section aside button{
    background-color: #fff;
    padding: 15px 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    /* width: 190px; */
}
/* =============blog ===========*/
.blogs-section .blogs{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.blogs-section .blogs .blog{
    width: 200px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0;
}
.blogs-section .blogs .blog .blog-info{
    width: 100%;
    padding: 5px;
}
.blogs-section .blogs .blog .blog-info p{
    font-size: 17px;
}
.blogs-section .blogs .blog .blog-info .time-comment{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/*-------------- special-button --------- */
.special-btn{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: none;
}
.special-btn a{
    text-decoration: none;
    color: #fff;
    background-color: #3CCF4E;
    padding: 8px 10px;
    font-weight: bolder;
    border-radius: 10px;
}
/*========= footer==============*/

footer{
    background-color: rgb(8, 5, 5);
    padding: 30px 20px;
    margin-top: 40px;
}
footer h2{
    text-align: center;
    color: white;
}
.links{
    width: 90%;
    margin: 0 auto;
}
.links ul{
    display:flex;
}
.links ul li{
    list-style: none;
    margin: 15px;
    color: gray;
    font-size: 15px;
}

/* ----------responsive styles -----------*/
/*--------mobile responsive style-------*/
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    /* banner */
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .banner .banner-text{
        width: 100%;
        text-align: center;
    }
    .banner .banner-image{
        width: 100%;
    }
    /* blogs */
    .blogs-section{
        flex-direction: column;
    }
    .blogs-section aside{
        width: 90%;
        margin: 0 auto;
    }
    .blogs-section aside a{
        text-align: center;
    }
    .blogs-section .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .blogs-section .blogs .blog{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    /* footer */
    footer{
        width: 100%;
        text-align: center;
    }
    footer .links ul{
        flex-direction: column;
        text-align: center;
    }

}

/*----------tablet responsive styles-----------*/
@media only screen and (max-width:925px) and (min-width:689px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .banner{
        width: 100%;
        align-items: center;
    }
    /* blogs */
    .blogs-section{
        flex-direction: column;
    }
    .blogs-section aside{
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0px;
        padding: 10px;
        height: 40px;
        margin-bottom: 20px;
    }
    .blogs-section aside .link-btn{
        background-color: #fff;
        padding: 15px 20px;
        border: 1 px solid black;
        margin: 10px;
        border-radius: 10px;
        color: black;
        font-size: 12px;
        /* text-decoration: none; */
    }
    .blogs-section aside button{
        border: 1px solid gray;
        background-color: #faf9f6;
        text-align: center;
        margin: 10px;
    }
    /* blog */
    .blogs-section .blogs{
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    .blogs-section .blogs .blog{
        width: 90%;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        margin: 10px auto;
    }
    /* special-button  */
    .special-btn{
        display: block;
    }
    /* footer */
    footer{
        width: 100%;
    }
    footer .links ul{
        /* display: grid;
        grid-template-columns: repeat(4,1fr); */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    /* footer .links ul li{
        text-align: center;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        text-align: center;
    } */
    
}